# Node modules
/node_modules

# Compiled TypeScript files
/dist
/build

# Docker-related files
.docker
docker-compose.override.yml

# Logs
*.log
/logs

# TypeORM migrations
/migrations

# IDE/Editor files
.vscode/
.idea/

# Temporary files
*.swp
.DS_Store

# npm logs
npm-debug.log*

# OS-specific files
Thumbs.db
Desktop.ini

# Environment variables
.env
